:root {
    font-size: 16px;
    /* mode button color */
    --sun: gold;
    --moon: #e7e7e7;

    /* body color */
    --day: #f1f1f1;
    --night: #171718;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--day);
    transition: all 0.3s ease-in-out;
}

#modeBtn {
    border: none;
    background-color: transparent;
    color: var(--sun);
    font-size: 3.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}